@primary-color: #CCC;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EEE;
}

.main{
  margin:0 auto;
  max-width:1500px;
}

 

//ADMIN DASHBOARD

.admin-title{
    font-size: 1.3rem; text-transform: uppercase;
    font-weight:bold;
}
 