@primary-color: #CCC;

body {
  font-family: 'Nunito', sans-serif;
  background-color: #EEE;
}

.main{
 
  margin:0 auto;
  border:1px solid #EEE;
  margin-top:1rem;
  background:#FFF;
  border-radius: 1rem;
}

.container-fluid{
    max-width:1500px;
}


//ADMIN DASHBOARD

.admin-title{
    font-size: 1rem; text-transform: uppercase;
}
 